<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../vendor/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../common/common.css" />
        <link rel="stylesheet" href="popup.css" />
    </head>
    <body>
        <div id="app" v-cloak>
            <div id="loader" class="overlay" v-if="loadingMessage">
                <div>
                    <img src="../common/loading.gif" alt="" /><br/>
                    <span>{{ loadingMessage }}</span>
                </div>
            </div>
            <div id="login-form" v-if="!login.ok">
                <form @submit.prevent="doLogin">
                    <div class="block-body">
                        <p id="login-error" class="text-danger" v-if="login.error">{{ login.error }}</p>
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username</label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="username" id="username" v-model="login.username" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label">Password</label>
                            <div class="col-8">
                                <input type="password" class="form-control" name="password" id="password" v-model="login.password" />
                            </div>
                        </div>
                    </div>
                    <div class="block-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
                    </div>
                </form>
            </div>
            <div id="novel-list" v-if="novels.ok">
                <div id="settings" class="overlay" v-if="settings.open">
                    <div id="settings-groups" v-if="settings.panel === 'groups'">
                        <div class="block-body">
                            <iframe src="../options/groups.html" frameBorder="0"></iframe>
                        </div>
                        <div class="block-footer">
                            <button class="btn btn-secondary float-right settings-back" @click="closeSettings"><i class="fa fa-chevron-circle-left"></i> Back</button>
                            <button class="btn btn-primary float-left" id="open-general-settings" @click="openGeneralSettings"><i class="fa fa-cogs"></i> General settings</a>
                        </div>
                    </div>
                    <div id="settings-general" v-if="settings.panel === 'general'">
                        <div class="block-body">
                            <iframe src="../options/options.html" frameBorder="0"></iframe>
                        </div>
                        <div class="block-footer">
                            <button class="btn btn-secondary float-right settings-back" @click="closeSettings"><i class="fa fa-chevron-circle-left"></i> Back</button>
                            <button class="btn btn-primary float-left" id="open-groups-settings" @click="openGroupsSettings"><i class="fa fa-list"></i> Group settings</a>
                        </div>
                    </div>
                </div>
                <div class="block-body">
                    <div id="search">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" name="search" v-model="search.value" @input="doSearch" placeholder="Search..." />
                            </div>
                        </form>
                        <p v-if="search.message">{{ search.message }}</p>
                        <table id="search-results" class="table table-sm" v-id="search.results">
                            <tr v-for="result in search.results">
                                <td class="novel-icon" style="width: 0%">
                                    <img :src="result.img" alt="" />
                                </td>
                                <td class="novel-name">
                                    <a :href="result.url" target="_blank">
                                        {{ result.name }}
                                    </a>
                                </td>
                                <td style="width: 0%">
                                    <button class="btn btn-xs btn-success btn-icon" @click="addNovel(result.url)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table id="novel-table" class="table table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Read</th>
                                <th>Next</th>
                                <th>Latest</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr is="novel" v-for="novel of novels.results" :novel="novel" :key="novel.id"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="block-footer">
                    <button id="open-settings" class="btn btn-secondary float-right" @click="openSettings"><i class="fa fa-cogs"></i> Settings</button>
                    <a href="https://www.novelupdates.com/reading-list/" target="_blank" class="btn btn-success float-left mr-1"><i class="fa fa-external-link"></i> Open</a>
                    <div class="d-flex align-items-center">
                        <button id="refresh-novel-list" class="btn btn-info" @click="refreshNovels"><i class="fa fa-refresh"></i> Refresh</button>
                        <span class="ml-3 text-muted">Next refresh in <span id="next-refresh">{{ novels.nextRefresh }}</span></span>
                        <span class="ml-2 text-warning" id="loading-error" :title="novels.error" v-if="novels.error"><i class="fa fa-exclamation-triangle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../vendor/js/browser-polyfill.min.js"></script>
        <script src="../vendor/js/vue.min.js"></script>
        <script src="../vendor/js/vue-class-component.min.js"></script>
        <script src="bundle.js"></script>
    </body>
</html>