<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../vendor/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../common/common.css" />
        <link rel="stylesheet" href="popup.css" />
    </head>
    <body>
        <div id="app">
            <div id="loader" class="overlay" v-if="loadingMessage">
                <div>
                    <img src="../common/loading.gif" alt="" /><br/>
                    <span>{{ loadingMessage }}</span>
                </div>
            </div>
            <div id="login-form" v-if="!login.ok">
                <form v-on:submit.prevent="doLogin">
                    <div class="block-body">
                        <p id="login-error" class="text-danger" v-if="login.error">{{ login.error }}</p>
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username</label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="username" id="username" v-model="login.username" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label">Password</label>
                            <div class="col-8">
                                <input type="password" class="form-control" name="password" id="password" v-model="login.password" />
                            </div>
                        </div>
                    </div>
                    <div class="block-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="novel-list" class="hidden">
            <div id="settings" class="overlay hidden">
                <div id="settings-groups" class="hidden">
                    <div class="block-body">
                        <iframe src="../options/groups.html" frameBorder="0"></iframe>
                    </div>
                    <div class="block-footer">
                        <button class="btn btn-secondary float-right settings-back"><i class="fa fa-chevron-circle-left"></i> Back</button>
                        <button class="btn btn-primary float-left" id="open-general-settings"><i class="fa fa-cogs"></i> General settings</a>
                    </div>
                </div>
                <div id="settings-general">
                    <div class="block-body">
                        <iframe src="../options/options.html" frameBorder="0"></iframe>
                    </div>
                    <div class="block-footer">
                        <button class="btn btn-secondary float-right settings-back"><i class="fa fa-chevron-circle-left"></i> Back</button>
                        <button class="btn btn-primary float-left" id="open-groups-settings"><i class="fa fa-list"></i> Group settings</a>
                    </div>
                </div>
            </div>
            <div class="block-body">
                <div id="search">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" name="search" placeholder="Search..." />
                        </div>
                    </form>
                    <table id="search-results" class="table table-sm hidden"></table>
                </div>
                <table id="novel-table" class="table table-sm">
                    <tr>
                        <th>Name</th>
                        <th>Read</th>
                        <th>Next</th>
                        <th>Latest</th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <div class="block-footer">
                <button id="open-settings" class="btn btn-secondary float-right"><i class="fa fa-cogs"></i> Settings</button>
                <a href="https://www.novelupdates.com/reading-list/" target="_blank" class="btn btn-success float-left mr-1"><i class="fa fa-external-link"></i> Open</a>
                <div class="d-flex align-items-center">
                    <button id="refresh-novel-list" class="btn btn-info"><i class="fa fa-refresh"></i> Refresh</button>
                    <span class="ml-3 text-muted">Next refresh in <span id="next-refresh"></span></span>
                    <span class="ml-2 hidden text-warning" id="loading-error"><i class="fa fa-exclamation-triangle"></i></span>
                </div>
            </div>
        </div>
        <script src="../vendor/js/browser-polyfill.min.js"></script>
        <script src="../vendor/js/vue.min.js"></script>
        <script src="bundle.js"></script>
    </body>
</html>