html, body {
	min-width: 600px;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	min-height: 160px;
}
body {
	min-height: 100%;
	position: relative;
}

#settings > div {
	height: 100%;
}
#settings .block-body {
	padding: 0;
	padding-bottom: 70px;
}
#settings .block-body iframe {
	border: none;
	height: 100%;
	width: 100%;
}

.block-body {
	height: 100%;
	padding: 15px;
	padding-bottom: 70px;
}
.block-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 15px;
	height: 70px;
	background-color: rgba(0,0,0,.03);
	border-top: 1px solid rgba(0,0,0,.125);
}

table .novel-icon img {
	margin-top: -3px;
	max-height: 26px;
	width: auto;
}
table .novel-name a {
	color: #212529;
}
table .novel-name .badge {
	margin-left: 5px;
}
table .novel-chapter i.fa {
	margin-left: 5px;
}

table .novel-actions {
	width: 1px;
	white-space: nowrap;
	text-align: right;
}

#search .search_hl {
    font-weight: bold;
}