html, body {
	min-width: 600px;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	min-height: 160px;
}
body {
	height: 100%;
	position: relative;
}

.block-body {
	padding: 15px;
	padding-bottom: 85px;
}
.block-body > :last-child {
	margin-bottom: 0;
}

.block-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 15px;
	height: 70px;
	background-color: #f7f7f7;
	border-top: 1px solid rgba(0,0,0,.125);
}

table .novel-icon img {
	margin-top: -3px;
	max-height: 26px;
	width: auto;
}
table .novel-name a {
	color: #212529;
}
table .novel-name .badge {
	margin-left: 5px;
}
table .novel-chapter i.fa {
	margin-left: 5px;
}

table .novel-actions {
	width: 1px;
	white-space: nowrap;
	text-align: right;
}

#search .search_hl {
    font-weight: bold;
}

.novel-loading {
	text-align: center;
}
.novel-loading img {
	height: 24px;
	width: auto;
	margin-right: 5px;
	margin-top: -1px;
}
