<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../vendor/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../vendor/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../common/common.css" />
        <link rel="stylesheet" href="options.css" />
    </head>
    <body>
        <form id="app">
            <div class="novel-group" v-for="group in groups" v-cloak>
                <div class="form-group row">
                    <label for="name" class="col-4 col-form-label">Name</label>
                    <div class="col-8 input-group">
                        <input type="text" class="form-control" name="name" id="name" v-model="group.name" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger" title="Delete this group" @click="removeGroup(group)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lists" class="col-4 col-form-label">Lists</label>
                    <div class="col-8">
                        <select name="lists" class="form-control" id="lists" v-model="group.readingLists" multiple>
                            <option v-for="list in lists" :value="list.id">
                                {{ list.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" @click="addGroup"><i class="fa fa-plus"></i> Add</button>
            <button type="button" class="btn btn-primary" @click="saveGroups"><i class="fa fa-save"></i> Save</button>
        </form>
        <script src="../vendor/js/browser-polyfill.min.js"></script>
        <script src="../vendor/js/vue.min.js"></script>
        <script src="groups.js"></script>
    </body>
</html>