[v-cloak] {
	display: none;
}

.btn i.fa {
	margin-right: 4px;
}
.btn.btn-icon i.fa {
	margin-right: 0;
}

.btn-group-xs > .btn, .btn-xs {
    padding : 0.25rem 0.3rem;
    font-size: 0.875rem;
    line-height: 0.8;
    border-radius: 0.2rem;
}

.hidden {
	display: none !important;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
}

#loader, #error {
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
}
#loader div, #error div {
	text-align: center;
}
#loader img, #error img {
	margin-bottom: 10px;
}
